
.bg-holder {
    position: absolute;
    width: 100%;    
    min-height: 100%;
    top: 0; left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btn {
    font-size: 0.8rem;
    font-weight: 700;
}
.btn i {
    vertical-align: text-top;
}
.btn-outline-custom {
    color:dodgerblue;
    border-color:cornflowerblue;
}
.btn-outline-custom:hover {
    color: dodgerblue;
    background-color: #eee;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.divider-content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    columns: #fff;
}
.divider {
    margin: 2rem 0;
}
.error {
    color: red;
    font-size: 10px;
}